
@font-face{
    font-family: "HankenG";
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format("opentype");
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "HankenG";
    margin: 50px;
}

.cards-container{   
box-shadow: 6px 5px 100px 0px rgb(197 196 220), 0 6px 20px 0 rgb(40 26 232 / 9%);
border-radius: 20px;
}


/* first card */

.result-display{
   background-color:white;
   color: white;
   background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
   border-radius: 20px;
   max-width: 250px;
   padding: 40px;
}

.result-heading{
    font-size: 1rem;
    opacity: 70%;
}

.result-circle{
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    /* padding: 20px; */
    border-radius: 100%;
    width: 9.375rem;
    height: 9.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.score{
    font-size: 3rem;
    font-weight: 700;

}

.overall-score{
    opacity: 50%;
    font-size: 1rem;
}

.result-display2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-remark{
    font-size: 1rem;
    padding: 8px 0;
}

.comment{
    font-size: 1rem;
    opacity: 60%;
    text-align: center;
}

/* second card */
.result-summary{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 30px; */
    border-radius: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    
}

.skills-card {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.skills-card.reaction {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.1);
}

.skills-card.verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsl(166, 100%, 37%, 0.1);
}

.skills-card.memory{
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.1);
}

.skills-card.visual{
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 85%, 45%, 0.1);
}

.bold-text{
    color:  hsl(224, 30%, 27%);    
    font-weight: 500;
    margin-right: 5px;
}

.faint-text{
    color:  hsl(224, 30%, 27%); 
    opacity: 70%; 
    font-weight: 500; 
    /* So this new class now carries more meaning because you have two other styles here that are more than  opacity alone */
}

.skills-card-icon{
    width: 20px;
    height: 20px;
    margin-right: 0.3rem;
}

.reaction-child-1{
    display: flex;
}

.reaction-child-2 {
    display: flex;
}

button.action {
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 20px
}

.main-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* media queries */

/* Phone */

@media(min-width: 375px) {
    .cards-container {
        display: flex;
        flex-direction: column;
        border-radius: 0;
    }

    .result-display{
        border-radius: 0 0 20px 20px;
    }


    .result-summary{
        /* width: 300px; */
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        
    }
    .result-heading{
        font-size: 1.3rem;
    }

    .overall-score{
        font-weight: 700;
    }

    .result-remark{
        font-size: 1.3rem;
        font-weight: 800;
    }

    button.action {
        width: 100%;
        font-size: 1rem;
        font-weight: 700;
        padding: 15px;
        border-radius: 50px;
        margin-top: 10px;
    }
    .comment{
        /* font-size: 0.8rem; */
        font-weight: 500;
        opacity: 60%;
        width: 180px;
    }
    h3{
        font-size: 1rem;
        font-weight: 800;
    }
    .skills-card {
        margin-bottom: 15px;
        margin-top: 20px;
        padding: 20px;
    }
    .skills-card-icon{
        width: 18px;
        height: 18px;
        margin-right: 0.8rem;
    }
   
    .reaction-child-1{
        font-size: 0.9rem;
        font-weight: 500;
    }
    .reaction-child-2{
        font-size: 0.9rem;
    }
    .bold-text, .faint-text{
        font-weight: 700;
    }
    body{
        margin: 0;
    };
}

/* Tablet and above */

@media(min-width: 768px) {

    .cards-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 700px;
        border-radius: 20px;
    }

    .result-display{
        border-radius: 20px;
        padding: 30px;
    }
    
    .comment{
        font-size: 0.8rem;
    }

    .result-summary{
        width: 200px;
        padding: 20px 30px;
    }

    .result-heading{
        font-size: 1rem;
    }

    .overall-score{
        font-size: 0.8rem;
    }
    .comment{
        font-size: 0.8rem;
    }

    .skills-card {
        margin-bottom: 10px;
        /* margin-top: 20px; */
        padding: 10px;
    }
    .skills-card-icon{
        width: 15px;
        height: 15px;
        margin-right: 0.5rem;
    }
   
    .reaction-child-1{
        font-size: 0.8rem;
        font-weight: 500;
    }
    .reaction-child-2{
        font-size: 0.8rem;
    }
    .bold-text, .faint-text{
        font-weight: 700;
    }

    button.action {
        font-size: 0.7rem;
        padding: 0.6rem;
        border-radius: 20px;
        margin-top: 20px;
    }
}